body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px 48px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 48px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
}

.below-title {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links{
    display:flex;
    gap: 16px;
}

.landscapes-info {


}

.testimonials {

}

.signup-section {


}

.footer {
    display: flex;
    background-color: #1f2937;

}