* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.3;
    color: #333;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}


h1 {
    font-size: 48px;
    font-weight: 800;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Navbar */
.navbar {
    background-color:  #1f2937;
    color: white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.hero {
    background-color: #1f2937;
    color: white;
    min-height: 400px;
}

.hero img {
    max-width: 400px;
    border-radius: 10px;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb
}

.upper-button {
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    margin-top: 15px;
}

.landscapes {
    background-color: white;
}

.landscapes .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 52px;
    min-height: 400px;
}

.landscapes-center {
    margin-top: 60px;
    text-align: center;
}

.item {
    max-width: 250px;
}

.item img {
    width:  250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.item .text {
    text-align: center;
}

.testimonials {
    background-color: #e5e7eb;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin: 80px;
}

.signature {
    text-align: right;
    font-size: 26px;
    font-weight: 900;
    margin-top: 14px;
}

.signup {
    background-color: white;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.signup .container {
    background-color: #3882F6;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 50px;
    justify-content: space-around;
    border-radius: 10px;
    color: white;
}

.signup-text h2 {
    font-size: 30px;
}

.signup-text p {
    font-size: 20px;
    color: #e5e7eb
}

.lower-button {
    color: white;
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    font-weight: 600;
}

.footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    min-height: 80px;
}

.copyright {
    color: white;
    font-size: 20px;
    font-weight: 500;
}